.site-navbar {

    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;


    .nav-left {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .icon-home-image {

            &:hover {
                color: #1dd6f7;
            }
        }
    }

    .nav-right {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }


    .brand {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

.nav-link {


    &:hover {
        color: #1dd6f7;
    }
}
